
        .wrapper {
            position: absolute;
            left: 40%;
            top: 30%;
            width: 550px;
            height: 550px;
            border: 1px solid rgb(59, 170, 221);
        }
        #startingTime {
            background-color: rgb(59, 170, 221);
            margin-left: 33%;
            padding: 15px 32px;
            font-size: 20px;
            color: white;
        }
        #quizContent {
            margin: 35px;
        }

        #currentTime {
            float: right;
        }

        #remove {
            background-color: rgb(59, 170, 221);
            position: relative;
            padding: 15px;
            font-size: 25px;
            color: white;
            top: 35%;
            right: 10%;
            text-align: center;
        }


        #previousPage {
            background-color: rgb(59, 170, 221);
            position: relative;
            padding: 15px;
            font-size: 25px;
            color: white;
            top: 35%;
            left: 60%;
            width: auto;
            text-align: center;
            text-decoration: none;
        }



       
        button {
            border-radius: 10px;
        }

        textarea {
            width: 85%;
            margin: 15px;
        }

        #Submit {
            background-color: rgb(59, 170, 221);
            margin-left: 35%;
            padding: 20px 35px;
            font-size: 20px;
            color: white;
        }

        label {
            margin-right: 10px;
        }
        input {
            margin-bottom: 20px;
            width: 50%;
            border: 1px solid lightgray;
        }

        h1 {
            text-align: center;
        }

        li {
            background-color: rgb(59, 170, 221);
            margin-top: 12px;
            padding: 10px 20px;
            width: 70%;
            font-size: 20px;
            color: white;
        }

        #createDiv {
            margin-top: 20px;
            border-top: 1px solid lightgray;
        }

        /* Start media queries */
        /* A Media Query max-width: 786px */
@media screen and (max-width: 786px) {
    /* Resized content to fit 786px  */
        body {
            max-width: 786px;
        }
    /* Resized main-content to fit 786px  */
    #wrapper {
        position: absolute;
        left: 30%;
    }

    a {
        margin-left: 30%;
    }
        #previousPage {
            
            position: relative;
            left: 60%;
        }

        #remove {
            
            position: relative;
            right: 10%;
            
        }
    }
        
    /* A Media Query max-width: 640px */
    @media screen and (max-width: 640px) {
     /* Resized content to fit 640px  */
     body {
            min-width: 640px;
        }
    /* Resized main-content to fit 640px  */
    .wrapper {
        position: absolute;
        left: 15%;
    }
      a {
          margin-left: 15%;
      }

     
}