
        .wrapper {
           
            width: 550px;
            height: 550px;
            border: 5px solid rgb(59, 170, 221);
            margin: 0 auto;
            padding-top: 20px;
        }
        #startingTime {
            background-color: rgb(59, 170, 221);
            margin-left: 33%;
            padding: 15px 32px;
            font-size: 20px;
            color: black;
        }
        #quizContent {
            margin: 35px;
        }

        #currentTime {
            float: right;
        }

        #remove {
            background-color: rgb(59, 170, 221);
            position: relative;
            padding: 15px;
            font-size: 25px;
            color: black;
            top: 0;
            right: 0;
            text-align: center;
        }


        #previousPage {
             background-color: rgb(59, 170, 221);
            position: relative;
            padding: 15px;
            font-size: 25px;
            color: black;
            top: 0;
            right: 0;
            text-align: center;
        }



       
        button {
            border-radius: 10px;
        }

        textarea {
            width: 85%;
            margin: 15px;
        }

        #Submit {
            background-color: rgb(59, 170, 221);
            margin-left: 35%;
            padding: 20px 35px;
            font-size: 20px;
            color: black;
        }

        label {
            margin-right: 10px;
        }
        input {
            margin-bottom: 20px;
            width: 50%;
            border: 1px solid lightgray;
        }

        h1 {
            text-align: center;
        }

        li {
            background-color: rgb(59, 170, 221);
            margin-top: 12px;
            padding: 10px 20px;
            width: 70%;
            font-size: 20px;
            color: black;
        }

        #makeDiv {
            margin-top: 20px;
            border-top: 1px solid lightgray;
        }

        
@media screen and (max-width: 786px) {
   
        body {
            max-width: 786px;
        }
   
    #wrapper {
        position: absolute;
        left: 30%;
    }

    a {
        margin-left: 20%;

    }
        #previousPage {
            
            position: relative;
            left: 60%;
        }

        #remove {
            
            position: relative;
            right: 30%;
            
        }
    }
        
  
   
     
}